/* Color Palette */
:root {
  /* Biru Tua */
  --primary-color: #191c3e;
  /* Kuning */
  --secondary-color: #FFD600;
  /* Warna - warna lain */
  --text-color-light: #F5F5F5;
  --text-color-dark: #212121;
  --bg-light: navy;
  --danger-color: #D32F2F;
}

/* Basic Reset dan Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Font dari Google Fonts: Parkinsans */
body {
  font-family: 'Parkinsans', Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Container Utama */
main {
  flex: 1;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

/* Page Transition */
.main-content {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.page-transition-out {
  opacity: 0;
  transform: translateY(20px);
}

.page-fade-out {
  opacity: 0;
}

.page-fade-in {
  opacity: 1;
}

/* Pengecualian animasi untuk elemen nav dan footer */
header.app-bar {
  view-transition-name: main-header;
}

footer.foot {
  view-transition-name: main-footer;
}

::view-transition-group(main-header) {
  animation: none;
  mix-blend-mode: normal; 
}

::view-transition-group(main-footer) {
  animation: none;
  mix-blend-mode: normal; 
}

/* View Transition API : Ini akan menimpa animasi fade-out/fade-in default.*/
@keyframes slide-from-up {
  from {
    transform:  translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-to-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform:  translateY(-20px);
    opacity: 0;
  }
}

/* Animasi untuk halaman LAMA (old) yang keluar */
::view-transition-old(root) {
  animation: slide-to-down 0.3s ease-out forwards;
}

/* Animasi untuk halaman BARU (new) yang masuk */
::view-transition-new(root) {
  animation: slide-from-up 0.3s ease-in backwards;
}

/* Aksesibilitas */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--secondary-color);
  color: var(--text-color-dark);
  padding: 8px;
  z-index: 9999;
  text-decoration: none;
  font-weight: bold;
}

.skip-link:focus {
  top: 0;
}

/* Komponen-komponen fitur (App Bar, Tombol, Form, Peta) */
.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light);
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px var(--secondary-color);
  border-radius: 10px;
}

.app-bar__logo {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.app-bar__nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  padding-left: 10px;
}

.app-bar__nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 4px;
}

.app-bar__nav a:hover {
  background-color: var(--secondary-color);
  transition: ease-in-out 0.3;
  color: var(--text-color-dark);
  border: var(--primary-color) solid 1px;
}

/* Tombol Utama (Biru Tua) */
.btn {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s ease;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--secondary-color) solid 1px;
}

.btn-primary:hover {
  background-color: lightblue;
  transition: ease-in-out 0.3;
  color: var(--text-color-dark);
  border: var(--primary-color) solid 1px;
}

.btn-danger {
  background-color: var(--danger-color);
  color: var(--text-color-light);
}

.favorite-btn {
  background-color: #f0ad4e;
  color: var(--primary-color);
  margin-top: 10px;
}

.favorite-btn:hover {
  background-color: #D32F2F;
  color: var(--secondary-color);
  transition: ease-in-out 0.3;
  border: var(--secondary-color) solid 1px;
}

/* Form */
.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--text-color-dark);
  border-color: orangered;
}

.form-control:focus {
  outline: 2px solid var(--secondary-color);
  border-color: var(--primary-color);
}

.form-error {
  color: var(--danger-color);
  margin-top: 5px;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

/* Peta */
#map,
#add-map {
  height: 400px;
  width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
  z-index: 1;
  box-shadow: var(--text-color-light) 0px 4px 12px;
}

/* Halaman Spesifik */

/* Halaman Home */
.home-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* Story List */
.story-list-container {
  max-height: 600px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.story-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.story-list-container>h2 {
  position: sticky;
}

.story-item {
  background-color: var(--bg-light);
  color: var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px orangered;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid var(--secondary-color);
}

.story-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px yellow;
}

.story-item__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.story-item__content {
  padding: 15px;
}

.story-item__author {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.story-item__date {
  font-size: 0.8rem;
  color: var(--text-color-light);
  margin-bottom: 10px;
}

.story-item__description {
  font-size: 1rem;
  line-height: 1.4;
}

/* Halaman Login/Register */
.auth-container {
  max-width: 450px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--bg-light);
  color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px orangered
}

.auth-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--secondary-color);
}

.auth-container .redirect-link {
  text-align: center;
  margin-top: 1.5rem;
}

.auth-container .redirect-link a {
  color: var(--primary-color);
  font-weight: 600;
}

/* Halaman Add Story */
.add-story-container {
  max-width: 768px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: var(--bg-light);
  color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px orangered;
}

.add-story-container>h1 {
  color: var(--secondary-color);
  text-align: center;
}

.location-picker-info {
  font-style: italic;
  color: var(--text-color-light);
  margin-bottom: 1rem;
  text-align: center;
}

input[type="file"] {
  color: var(--text-color-light);
}

#preview-image {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-top: 1rem;
  border: 1px dashed #ccc;
  border-radius: 4px;
  display: none;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: navy;
  color: var(--text-color-light);
  width: 100%;
  margin-top: 2rem;
}

/* Media Queries (Responsif) */

/* Mobile (375px - 480px) */
@media (max-width: 480px) {

  main {
    padding: 15px;
  }

  .app-bar {
    padding: 1rem 1rem;
    flex-direction: column;
    gap: 10px;
  }

  .app-bar__nav ul {
    gap: 15px;
    justify-content: center;
    width: 100%;
  }

  .auth-container,
  .add-story-container {
    padding: 1.5rem;
    margin: 1rem auto;
  }

  #map,
  #add-map {
    height: 300px;
  }
}

/* Tablet (768px) */
@media (min-width: 768px) {
  .home-container {
    /* Tampilan peta dan list berdampingan jika di tablet */
    grid-template-columns: 1fr 1fr;
  }

  .story-list-container {
    max-height: 600px;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .story-list {
    grid-template-columns: 1fr;
  }

  .map-container {
    position: sticky;
    top: 20px;
  }
}

/* Desktop (1024px) */
@media (min-width: 1024px) {
  .story-list {
    grid-template-columns: 1fr;
  }

  .auth-container {
    margin: 4rem auto;
  }
}

/* Loading Spinner pada Tombol */
.btn.loading {
  color: transparent;
  position: relative;
  pointer-events: none;
}

.btn.loading::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;

  /* Ukuran spinner */
  width: 18px;
  height: 18px;
  margin-left: -9px;
  margin-top: -9px;

  /* Gaya spinner */
  border: 3px solid var(--secondary-color);
  /* Warna track spinner (kuning) */
  border-top-color: var(--text-color-dark);
  /* Warna spinner utama (hitam) */
  border-radius: 50%;
  /* Ketebalan border */

  /* Animasi putar */
  animation: spin-button 0.8s linear infinite;
}

/* Animasi keyframe untuk putaran */
@keyframes spin-button {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}